<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a class="navbar-brand" href="#/map">NomNow</a>
    </div>
    <div id="navbar" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
      <input class="form-control" ng-model="selectedPlace" location="selectedPlaceLocation" details="selectedPlaceDetails" type="text" placeholder="Search Box" googleplace="" /></div></form>
      <ul class="nav navbar-nav navbar-right">
      <!-- <p class="latlon">{{ selectedPlaceDetails.geometry.location }}</p>-->
      <li ng-controller="modalctrl">
        <button type = "button" class="btn btn-lg btn-primary navbar-btn navbar-nav navbar-right" ng-click="reportpage()">Report Wait Time</button>
      <!--  Below is the script for the popup window. activated by the button above-->
         <script type="text/ng-template" id="Report.html">

          <div class="modal-header">
            <div class = "custombody">
              <h3> Report Wait time</h3>
            </div>
           </div>
           <div class="modal-body" >
              <div class = 'custombody'>
              <p>{{items}}</p>
                <div ng-repeat ="place in restaurant" class="listofplaces">
                  <a type="button" class = "restaurants btn btn-primary btn-lg btn-block" ng-click='yes(place)'  ng-style="Rlist">{{place.name}}</a>
                    </div>
               <span class= "waittext">{{waittime.inputs}} minutes</span>
               <p>Enter your wait time: <input  ng-model = "waittime.inputs"  type="range" min="0" max="60" value="30" step="5"></p>
              </div>
           </div>
           <div class="modal-footer">
              <div class ="customfoot">
                 <button ng-click= "submit()" class ='btn btn-primary btn active'>Submit</button>
                 <button ng-click= "cancel()" class ='btn btn-primary btn active'>Cancel</button>
              </div>
          </div>
        </script>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="container-fluid" id="map-container">
  <div id="map-canvas"></div>
</div>
