<div class = "container">
<h1>NomNow</h1>
<nav class = "navbar navbar-default">
<div ng-controller="modalctrl">
  <button type = "button" class="btn btn-default navbar-btn" ng-click="reportpage()">Report Wait Time</button>
   <script type="text/ng-template" id="Report.html">
   <div class="modal-header">
    <h3> Report Wait time</h3>
   </div>
   <div class="modal-body" >
      <div class = 'custombody'>
       <p>{{items}}</p><br>
       <p>Enter your wait time: <input type="text" name="time" ></p>
      </div>
   </div>
   <div class="modal-footer">
      <button ng-click="ok()">OK</button>
   </div>
  </script>
</div>
</nav>
<div class="container-fluid">
<div id="map-canvas"></div>
</div>
</div>
