<div class = "container">
<h1>NomNow</h1>
<nav class = "navbar navbar-default">
<div ng-controller="modalctrl">
  <button type = "button" class="btn btn-default navbar-btn" ng-click="reportpage()">Report Wait Time</button>
<!--  Below is the script for the popup window. activated by the button above-->
   <script type="text/ng-template" id="Report.html">

   <div class="modal-header">
    <div class = "custombody">
      <h3> Report Wait time</h3>
    </div>
   </div>
   <div class="modal-body" >
      <div class = 'custombody'>
       <p>{{items}}</p><br>
       <span class= "waittext">{{waittime.inputs}} minutes</span>
       <p>Enter your wait time: <input  ng-model = "waittime.inputs"  type="range" min="0" max="60" value="30" step="5"></p>
      </div>
   </div>
   <div class="modal-footer">
      <div class ="customfoot">
        <button ng-click="ok()" class= 'btn btn-primary btn-lg active'>OK</button>
        <button ng-click= "no()" class ='btn btn-primary btn-lg active'>Cancel</button>
      </div>
   </div>
  </script>
</div>
</nav>
<div class="container-fluid">
<div id="map-canvas"></div>
</div>
</div>
