body {
  background-image: url('../images/longLine.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
#map-canvas {
width: 100%;
 height: 650px;
}

.jumbotron {
  margin-top: 100px;
}
.container {
  text-align: center;
}

.custombody{
  text-align: center;
}
p{
  margin: 20px;
}
.waittext{
  font-size: 20px
}
.customfoot{
  text-align: center;
}

.customfoot button{
  margin-right: 12%;
  margin-left: 12%;
}